body {
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: Georgia, Times, Arial;
    background: linear-gradient(gray, beige, gray);
}

h1, p {
    text-align: center;
    margin: 1em 0;
}

form {
    width: 60vh;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
}

fieldset {
    margin: 1em 0;
}

label {
    display: block;
    margin: 2em 0;
    font-size: 1.2em;
}

input, select {
    width: 100%;

}

.inline, .set {
    display: inline;
}
.checkBox {
    width: auto;
    margin: 1em 0;
}
