body {
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: Georgia, Times, Arial;
    background: linear-gradient(beige, grey, beige);
    background-image: url("pixel.jpg.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 120vh;

}

h1, p {
    text-align: center;
    margin: 1em 0;
}
h1 {
    font-size: 3em;
}

p {
    font-weight: 500;
    font-size: 1.3rem;
}

form {
    width: 60vh;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    background-color: rgba(84, 168, 110, 0.7);
}

fieldset {
    margin: 1em 0;
    border-color: rgba(231, 231, 231, 0.534);
}

::placeholder {
    color: rgba(255, 255, 255, 1)
  }

label {
    display: block;
    margin: 2em 0;
    font-size: 1.2em;
    color: #000000f8;
}

input, select {
    width: 100%;
    background-color: rgba(125, 141, 125, 0.322)

}

.inline, .set {
    display: inline;
}
.checkBox {
    width: auto;
    margin: 1em 0;
}

input[type="submit"] {
    background-color: beige;
}
